<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TwitOff!</title>
    <script
      src="https://kit.fontawesome.com/3590b5ddbe.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="container">
      <div class="header">
        <h3>Twitter Tweet Predictor Web Application</h3>
        <button type="button" class="button-header">
          <span class="update-button-text">Update Tweets</span>
        </button>
        <button type="button" class="button-header">
          <span class="reset-button-text">Reset Database</span>
        </button>
      </div>

      <div class="sidebar">
        <img
          src="/TwitOff Logo.png"
          alt="TwitOff Logo"
          style="width: 12vmax; height: auto"
          class="center"
        />
        <ul>
          <li>
            <!-- Home button -->
            <a href="#"><i class="fas fa-home"></i></a>
          </li>
          <li>
            <!-- Result button -->
            <a href="#"><i class="far fa-chart-bar"></i></a>
          </li>
          <li>
            <!-- About button -->
            <a href="#"><i class="fas fa-info-circle"></i></a>
          </li>
        </ul>
      </div>

      <div class="backgroundbox">
        <div class="content-left">
          <p>
            This tool uses Twitter API with natural Language processing to
            classify user input text which is used to predict which twitter user
            is more likely to tweet a given phrase
          </p>

          <form class="example" action="action_page.php">
            <input
              type="text"
              placeholder="Search Twitter Username"
              name="search"
            />
          </form>
          <button type="button">Add User</button>
          <h3>Added Users</h3>
        </div>
        <div class="content-right">
          <p>
            This tool uses Twitter API with natural Language processing to
            classify user input text which is used to predict which twitter user
            is more likely to tweet a given phrase
          </p>

          <form class="example" action="action_page.php">
            <input
              type="text"
              placeholder="Search Predicted Tweet"
              name="search"
            />
          </form>
          <button type="button">Compare Users</button>
        </div>
      </div>
      <div class="footer">Footer</div>
    </main>
  </body>
</html>
